<main id="app" [ngClass]="currentTheme">
  <div id="hero"></div>
  <div class="wrapper">
    <section class="app-content">
      <div class="todo-header">
        <h1>todo</h1>
        <button (click)="onChangeTheme()">
          <i class="icon-moon"></i>
        </button>
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="todoForm">
        <div class="form-control">
          <input
            placeholder="Create a new todo..."
            type="text"
            formControlName="todo"
            name="todo"
            id="todo"
            aria-label="create todo"
          />
        </div>
      </form>
      <div *ngIf="todoList.length > 0; else todoListEmpty" class="todo-list">
        <todo-item
          (onDeleteTodo)="onRemoveTodo($event)"
          (onChangeCompleted)="onChangeCompleted($event)"
          *ngFor="let todo of todoList"
          [todoItem]="todo"
        ></todo-item>
      </div>
      <ng-template #todoListEmpty>
        <div class="todo-list">
          <h3>Todo List is Empty</h3>
        </div>
      </ng-template>
      <div class="filter">
        <span> {{ todoList.length }} items left </span>
        <button (click)="onClearTodoItemsCompleted()">clear completed</button>
      </div>
      <div class="filter">
        <button
          (click)="handleFilter('all')"
          [ngClass]="getActiveTabClass('all')"
        >
          all
        </button>
        <button
          (click)="handleFilter('active')"
          [ngClass]="getActiveTabClass('active')"
        >
          active
        </button>
        <button
          (click)="handleFilter('completed')"
          [ngClass]="getActiveTabClass('completed')"
        >
          completed
        </button>
      </div>
    </section>
  </div>
</main>
